/* รีเซ็ตค่าพื้นฐาน */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
<<<<<<< Updated upstream
=======
    font-family: 'iannnnnCPU (2005)', sans-serif; /* <--- ต้องเรียกชื่อให้ตรงกับที่ตั้งไว้ */
>>>>>>> Stashed changes
}

/* ---------------------------------------------------
   Exercise #1: Google Fonts
   --------------------------------------------------- */
.box-google h1, 
.box-google p {
    /* เรียกใช้ชื่อฟอนต์ให้ตรงกับที่ Google ให้มา */
    font-family: 'Kodchasan', sans-serif;
}

.box-google h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* ---------------------------------------------------
   Exercise #2: Local Web Fonts (@font-face)
   --------------------------------------------------- */

/* ขั้นตอนที่ 1: ประกาศชื่อฟอนต์และบอกที่อยู่ไฟล์ */
@font-face {
    font-family: 'iannnnnCPU (2005)'; /* ตั้งชื่อฟอนต์ตามโจทย์ */
    
    /* ระบุทางไปหาไฟล์ (ระวังเรื่อง Path ../ หรือ / ให้ดี) */
    src: url('fonts/2005_iannnnnCPU.ttf') format('truetype'); 
}

/* ขั้นตอนที่ 2: เรียกใช้ฟอนต์ */
.box-local h1,
.box-local p {
    /* ใช้ชื่อเดียวกับที่เราตั้งไว้ข้างบน */
    font-family: 'iannnnnCPU (2005)', sans-serif;
}

.box-local h1 {
    color: #e67e22;
    margin-bottom: 10px;
    font-size: 40px; /* ปรับให้ใหญ่หน่อย ฟอนต์นี้ตัวเล็ก */
}